.contact {

  &__container {
    @include container;
  }

  &__title {
    font-family: $roboto-light;
    text-align: center;
  }

  &__select-wrapper {
    position: relative;
    width: 100%;

    &::before,&::after {
      position: absolute;
      content: '';
      color: $links-color;
      top: 23px;
      right: 22px;
      z-index: 0;
      width: 15px;
      height: 1px;
      background-color: $links-color;
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
      right: 12px;
    }

    &--active {
      
      &::before {
        transform: rotate(-45deg);
      }

      &::after {
        transform: rotate(45deg);
      }
    }
  }

  & form {
    display: flex;
    flex-direction: column;
    width: 555px;
    font-family: $helvetica-light;
    font-size: 16px;
    line-height: 30px;
  }

  & input {
    border: 1px solid $links-color;
    padding: 10px 20px;
    margin-bottom: 25px;
    outline: none;

    &[type="text"] {
      font-family: $helvetica-light;
      font-size: 16px;
      line-height: 30px;
      color: $text-color;
    }

    &[type="submit"] {
      font-family: $helvetica-light;
      font-size: 16px;
      line-height: 30px;
      background: none;
      background-color: $links-color;
      color: #fff;
      width: 165px;
      border-radius: 25px;
      cursor: pointer;
      appearance: none;
    }
  }

  & select {
    position: relative;
    width: 100%;
    font-family: $helvetica-light;
    font-size: 16px;
    line-height: 30px;
    background: transparent;
    border: 1px solid $links-color;
    color: $text-color;
    padding: 10px 20px;
    outline: none;
    margin-bottom: 25px;
    appearance: none;

    & option {
      width: 100%;
      appearance: none;
    }
  }

  & textarea {
    font-family: $helvetica-light;
    font-size: 16px;
    line-height: 30px;
    border: 1px solid $links-color;
    color: $text-color;
    padding: 10px 20px;
    outline: none;
    margin-bottom: 25px;
  }

  &--popup {

    & form {
      width: 455px;
      margin: 0 auto;
    }
  }
}

@media (max-width: $screen-sm) {

  .contact {

    & form {
      width: 100%;
    }

    &--popup {

      & form {
        width: 90%;
      }

      & h2 {
        margin-top: 0;
      }

      & textarea {
        height: 80px;
      }
    }
  }
}
