extends ../pug/layout.pug

block meta
  title Главная
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='/plugins/owl/assets/owl.carousel.min.css')
//-   link(rel='stylesheet', href='/plugins/owl/assets/owl.theme.default.css')

block content
  section(style="background-image: url('/img/bg-bulk.jpg');").heading.heading--inner
    .heading__container
      h1.heading__promo.heading__promo--title Bulk
      p.heading__breadcrumbs Home  —  Bulk

  section.slider-section.slider-section--noslider
    .slider-section__container
      h2.slider-section__title Bulk products
      p.slider-section__text Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo.
      ul.slider-section__list.slider-section__list--noslider
        li.slider-section__item.slider-section__item--noslider
          .slider-section__img
            img(src="/img/black-bottles.png", alt="")
          h3.slider-section__item-title.slider-section__item-title--noslider Full Spectrum Oils
        li.slider-section__item.slider-section__item--noslider
          .slider-section__img
            img(src="/img/bottles5.png", alt="")
          h3.slider-section__item-title.slider-section__item-title--noslider Broad Spectrum Oils
        li.slider-section__item.slider-section__item--noslider
          .slider-section__img
            img(src="/img/maria-package.png", alt="")
          h3.slider-section__item-title.slider-section__item-title--noslider Crude Oils
        li.slider-section__item.slider-section__item--noslider
          .slider-section__img
            img(src="/img/bottles4.png", alt="")
          h3.slider-section__item-title.slider-section__item-title--noslider Distillates
        li.slider-section__item.slider-section__item--noslider
          .slider-section__img
            img(src="/img/bottles2.png", alt="")
          h3.slider-section__item-title.slider-section__item-title--noslider Isolates
        li.slider-section__item.slider-section__item--noslider
          .slider-section__img
            img(src="/img/black-bottles2.png", alt="")
          h3.slider-section__item-title.slider-section__item-title--noslider CBG Oils
      a(href="#").slider-section__link.link.popup-link Ask for more details

  section.slider-section
    .slider-section__container
      h2.slider-section__title Services
      p.slider-section__text Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo.
      ul.slider-section__list.owl-carousel-4.owl-carousel.owl-theme
        li.slider-section__item.slider-section__item--green
          .slider-section__img
            img(src="/img/cannabis.png", alt="")
          h3.slider-section__item-title Labeling
        li.slider-section__item.slider-section__item--green
          .slider-section__img
            img(src="/img/cannabis-package.png", alt="")
          h3.slider-section__item-title Packaging
        li.slider-section__item.slider-section__item--green
          .slider-section__img
            img(src="/img/cannabis-box.png", alt="")
          h3.slider-section__item-title Storage
        li.slider-section__item.slider-section__item--green
          .slider-section__img
            img(src="/img/cannabis-car.png", alt="")
          h3.slider-section__item-title Logistic
        li.slider-section__item.slider-section__item--green
          .slider-section__img
            img(src="/img/bottles5.png", alt="")
          h3.slider-section__item-title Storage
        li.slider-section__item.slider-section__item--green
          .slider-section__img
            img(src="/img/bottles5.png", alt="")
          h3.slider-section__item-title Storage
        li.slider-section__item.slider-section__item--green
          .slider-section__img
            img(src="/img/bottles5.png", alt="")
          h3.slider-section__item-title Storage
        li.slider-section__item.slider-section__item--green
          .slider-section__img
            img(src="/img/bottles5.png", alt="")
          h3.slider-section__item-title Storage

  section.content-section
    .content-section__container
      h2.content-section__title Lab Analysis
      .content-section__flex-container
        .content-section__media
          img(src="/img/lab.jpg", alt="")
        .content-section__text
          p.content-section__text-bold We strive to improve life by utilising nature’s secret ingredients and making organic CBD products of the highest quality accessible to everyone
          p.content-section__text-default Growing up with alpine mountain landscape and crystal-clear lakes, we see ourselves as children of nature. From an early age we had a close relationship with our land and agriculture. The regular visits to the farm have taught us the importance of taking care of nature. This is why we stand for organic and sustainable cultivation
          a(href="#").content-section__link.link.popup-link more details

//- block footer
//-   p footer

//- block append page-bottom
//-   script(src='/plugins/jquery/jquery-3.5.0.min.js')
//-   script(src='/plugins/owl/owl.carousel.min.js')
