$title-color:             #4a4a4a;
$text-color:              #4a4a4a;
$links-color:             #849343;
$overlay-color:           #f6f6f6;

$roboto-medium:           "Roboto-Medium", sans-serif;
$roboto-light:            "Roboto-Light", sans-serif;
$helvetica-light:         "Helvetica-Light", sans-serif;
$helvetica-thin:          "HelveticaNeueLT-Thin", sans-serif;
$header-menu-size:         18px;
$header-page-name-size:    29px;
$header-promo-size:        62px;
$h2-size:                  36px;
$h3-size:                  30px;
$text-size:                18px;
$link-size:                18px;
$footer-title-size:        24px;
$footer-links-size:        24px;
$line-height:              1.4em;

$screen-xs:                480px;
$screen-sm:                768px;
$screen-md:                992px;
$screen-lg:                1200px;
